@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'android';
    src: url('../media/fontes/idroid.otf') format("opentype");
    font-weight: normal;
}

:root{
    --cor1:#c5ebd6;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'android';
    
}   

*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

p{
    margin: 15px 0px;
    text-align: justify;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor6));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.795);
    font-weight: normal;
}

header> p{
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.651);
    text-align: center;
    padding-bottom: 15px;
}

nav{
    background-color: var(--cor6);
    padding: 10px;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor6);
    transition-duration: 0.35s;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;
}

main h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
    padding: 10px 15px;
    font-weight: normal;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding-left: 10px;
    margin-left: 10px;
    font-weight: normal;
}

main p {
    padding: 0px 15px;
    text-indent: 30px;
    line-height: 1.7em;
}

main strong{
    color: var(--cor4);
    font-weight: bolder;
}

main a{
    text-decoration: none;
    color: black;
    background-color: var(--cor2);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
}

main img{
    width: 100%;
}

main img.pequena{
    display: block;
    margin: auto;
    max-width: 350px;
}

div.video{
    background-color: var(--cor5);
    padding: 20px;
    position: relative;
    padding-bottom: 45%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
}

aside h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-type:'\2714  ' ;
    list-style-position: inside;
    columns: 2;
}

aside p {
    line-height: 1.5em;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0,8em;
    height: 70px;
}

footer p {
    text-align: center;
    padding: 20px 0px 0px 0px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}